<% if(rs.length > 0) { %>
User: <%= rs[0].first_name %> <%= rs[0].last_name %>
<br>
Username: <%= rs[0].username %>
<ul>
    <% for(var i=0; i < rs.length; i++) {%>
        <li><%= rs[i].title %></li>
        <ul>Rating = <%= rs[i].rating_value %></ul>
    <% } %>
</ul>
<% } else { %>
No movie matched movie id <%= movie_id %>.
<% } %>