<% var js_includes = ['https://code.juery.com/jquery-1.12.3.min.js',
    '/javascripts/join_game_ajax.js',
    '/javascripts/leave_game_ajax.js',
    '/javascripts/delete_game_ajax.js'
]%>
<% include ../partials/header.ejs %>

<div class="container">
    <% if(rs.length > 0) { %>

    <h3><%= rs[0].GameName %></h3>

    <div class="well">
    <p>
        Time: <%= rs[0].GameDateTime.substr(8, 4) %><br>
        Date: <%= rs[0].GameDateTime.substr(4, 2) %> /
        <%= rs[0].GameDateTime.substr(6, 2) %> /
        <%= rs[0].GameDateTime.substr(0, 4) %><br>
        Duration: <%= rs[0].GameDuration %> hour(s)<br>
        Creator: <a href="/player/?PlayerID=<%= rs[0].CreatorID %>"><%= cr[0].Username %></a>
    </p>
    </div>

    <h3>Location</h3>
    <div class="well">
    <p><a href="/court/?CourtID=<%= rs[0].CourtID %>"><%= rs[0].CourtName %></a></p>
    <p>
        <%= rs[0].Address %><br>
        <%= rs[0].City %><br>
        <%= rs[0].State %><br>
        <%= rs[0].ZipCode %>
    </p>
    </div>

    <h3>Players</h3>
    <div class="well">
        <% for(var i=0; rs.length > i; i++) { %>
        <p>
            <% if(rs[i].PlayerID == rs[0].CreatorID) { %>
                <a href="/player/?PlayerID=<%= rs[i].PlayerID %>"><%= rs[i].Username %></a> (Creator)<br>

            <% } else { %>
                <a href="/player/?PlayerID=<%= rs[i].PlayerID %>"><%= rs[i].Username %><br></a>

            <% } %>
        </p>
        <% } %>
    </div>

    <% for(var i=0; rs.length > i; i++) { %>
    <%      var inGameAlready = false; %>
    <%      if( rs[i].PlayerID == data.PlayerID ) { %>
    <%          inGameAlready = true; %>
    <%      }}%>
    <% if(rs[0].CreatorID == data.PlayerID) { %>
    <button type="submit" onClick="deleteGame(<%= rs[0].GameID %>)" class="btn btn-danger">Delete Game</button>
    <% } else if(!inGameAlready) { %>
    <button type="submit" onClick="joinGame(<%= rs[0].GameID %>)" class="btn btn-primary">Join Game</button>
    <% } else { %>
    <button type="submit" onClick="leaveGame(<%= rs[0].GameID %>)" class="btn btn-warning">Leave Game</button>
    <% } %>
    <% } else { %>
    The game you are looking for does not seem to exist
    <% } %>
    <div id="message" style="display:none" class="alert alert-success">
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>
</div>

<% include ../partials/footer.ejs %>