<% var js_includes = ['https://code.juery.com/jquery-1.12.3.min.js',
        '/javascripts/join_game_ajax.js',
        '/javascripts/leave_game_ajax.js',
        '/javascripts/delete_game_ajax.js',
        '/javascripts/games_ajax.js'
]%>
<% include ../partials/header.ejs %>

<div class="container">
    <% function timeFormatter(time_24hr) { %>
    <%      h = time_24hr.substr(0, 2) % 12; %>
    <%      h = (time_24hr == 0)? 12 : h %>
    <%      m = time_24hr.substr(2, 2) %>
    <%      suffix = (time_24hr.substr(0,2) >= 12)? 'PM' : 'AM'; %>
    <%      return h + ":" + m + suffix; %>
    <% } %>

    <% function inGame(rs, gr, index) { %>
    <%      var inGame = false; %>
    <%      for(var i=0; i < gr.length; i++) { %>
    <%          if(rs[index].GameID == gr[i].GameID) { %>
    <%              inGame = true; %>
    <%          } %>
    <%      }%>
    <%      return inGame; %>
    <% } %>

    <div class="row">
        <div class="col-sm-4">
            <h2>Games</h2>
            Local games are listed here<br><br>
            You can create new games or join currently listed onces
            <div id="message" style="display:none" class="alert alert-success">
                <strong>Game successfully created</strong> Indicates a successful or positive action.
            </div>
            <div id="error" style="display:none" class="alert alert-danger">
                <strong>Game successfully created</strong> Indicates a successful or positive action.
            </div>

            <br><br><br>
            <h3>Preferences</h3>
            <form action="/game/search" method="get">
                <div class="form-group">
                    <label for="SkillLevel">Select Skill Level:</label>
                    <select class="form-control" id="SkillLevel" name="SkillLevel">
                        <option value='C'>Casual</option>
                        <option value='M'>Moderate</option>
                        <option value='S'>Serious</option>
                    </select>
                </div>
                <input type="submit" value="Apply" class="btn btn-default">
                <a href="/game/all" class="btn btn-default">Reset</a>
            </form>
        </div>
        <br><br><br>
        <div class="col-sm-6">
            <% if(rs.length > 0) { %>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Players</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <% for (var i=0; rs.length > i; i++) { %>
                <tbody>
                <tr>
                    <td>
                        <a href="/game?GameID=<%=rs[i].GameID%>"><%= rs[i].GameName %></a>
                    </td>
                    <td>
                        <a href="/court?CourtID=<%= rs[i].CourtID %>"><%= rs[i].CourtName %></a>
                    </td>
                    <td>
                        <%= rs[i].GameDateTime.substr(4, 2) %> /
                        <%= rs[i].GameDateTime.substr(6, 2) %> /
                        <%= rs[i].GameDateTime.substr(0, 4) %><br>
                        <%= timeFormatter(rs[i].GameDateTime.substr(8, 4)) %>
                    </td>
                    <td>
                        <%= rs[i].NumPlayers %>
                    </td>
                    <td>
                        <div class="dropdown" align="center">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">

                                <% if(!inGame(rs, gr, i)) { %>
                                <li>
                                    <button type="submit" class="btn btn-default"
                                            onClick="joinGame(<%= rs[i].GameID %>)">Join Game</button>
                                </li>
                                <% } else if(rs[i].CreatorID != data.PlayerID) { %>
                                <li>
                                    <button type="submit" class="btn btn-warning"
                                            onClick="leaveGame(<%= rs[i].GameID %>)">Leave Game</button>
                                </li>
                                <% } %>

                                <% if(rs[i].CreatorID == data.PlayerID) { %>
                                <li>
                                    <button type="submit" class="btn btn-danger"
                                            onClick="deleteGame(<%= rs[i].GameID %>)">Delete Game</button>
                                </li>
                                <% } %>

                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
                <% } %>
            </table>

            <% } else { %>
            No games exist
            <% } %>
            <br><a href="/game/create" type="button" class="btn btn-primary">Create New Game</a>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>