<% var js_includes = ['https://code.juery.com/jquery-1.12.3.min.js', '/javascripts/join_game_ajax.js']%>
<% include ../partials/header.ejs %>

<div class="container">
    <% function timeFormatter(time_24hr) { %>
    <%      h = time_24hr.substr(0, 2) % 12; %>
    <%      h = (time_24hr == 0)? 12 : h %>
    <%      m = time_24hr.substr(2, 2) %>
    <%      suffix = (time_24hr.substr(0,2) >= 12)? 'PM' : 'AM'; %>
    <%      return h + ":" + m + suffix; %>
    <% } %>
    <h2>Games</h2>
    <p>
        <a href="/game/all" class="btn btn-info btn-md">
            <span class="glyphicon glyphicon-refresh"></span> Refresh
        </a>
    </p>

    <div class="row">
        <div class="col-sm-4">
            Local games are listed here<br><br>
            You can create new games or join currently listed onces

            <div id="message" style="display:none"><h2>Game successfully created</h2></div><br>
            <input type="hidden" value="<%= rs[0].GameID %>"/>
        </div>
        <div class="col-sm-8">
            <% if(rs.length > 0) { %>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <% for (var i=0; rs.length > i; i++) { %>
                <tbody>
                    <tr>
                        <td>
                            <a href="/game?GameID=<%=rs[i].GameID%>"><%= rs[i].GameName %></a>
                        </td>
                        <td>
                            <a href="/court?CourtID=<%= rs[i].CourtID %>"><%= rs[i].CourtName %></a>
                        </td>
                        <td>
                            <%= rs[i].GameDateTime.substr(4, 2) %> /
                            <%= rs[i].GameDateTime.substr(6, 2) %> /
                            <%= rs[i].GameDateTime.substr(0, 4) %><br>
                            <%= timeFormatter(rs[i].GameDateTime.substr(8, 4)) %>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <!--no title-->
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a type="button" class="btn btn-primary" id="joinGame">Join Game</a></li>
                                    <% if(rs[i].CreatorID == data.PlayerID) { %>
                                    <li><a href="/game/delete?GameID=<%= rs[i].GameID %>&PlayerID=<%= data.PlayerID %>"
                                           type="button" class="btn btn-danger">Delete Game</a></li>
                                    <% } %>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <% } %>
            </table>

            <% } else { %>
            No movies exist.
            <% } %>
            <a href="/game/create" type="button" class="btn btn-primary">Create New Game</a>
        </div>
    </div>


</div>

<% include ../partials/footer.ejs %>